.table-wrapper {
    max-height: 300px;
    overflow-x: auto;
    display: block;
    width: auto;
}

.table-earnings {
    background: #F3F5F6;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
  }